################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/C++ Studio/v16
/C++ Studio/bin
/C++ Studio/obj
